@import "../includes/animations";
@import "../includes/var";
// common cirlce

.circle{
    border-radius: 50%;
    position: relative;

    &__big-40{
        width: 45rem;
        height: 45rem;
    }

    &__img{
        display: inline-block;
        position: relative;
        background-image:linear-gradient(rgba($gr-blue-1, 0.5), rgba($gr-blue-2, 0.5)), url(img/header-img.jpg);
        box-shadow: rgba($gr-blue-1, 0.8) 0 0 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

//_____ header circle ___________

.header-circle-container{
    display: inline-block;
    position: relative;
    margin-top: -25rem;
    margin-left: -15rem;

    &::after{
        content: '';
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        position: absolute;
        top: -2rem;
        right: -5rem;
        background-image: linear-gradient(to right bottom, $gr-orange-1, $gr-orange-2);
        box-shadow: #ffc3a0 0 0 3rem;
    }

    &::before{
        content: '';
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        position: absolute;
        top: -8rem;
        left: 22rem;
        background-image: linear-gradient(to right bottom, $gr-green-1, $gr-green-2);
        box-shadow: $gr-green-1 0 0 2rem;
    }
}



@media only screen and (max-width: 37.5em){
    .circle{
        &__big-40{
            width: 25rem;
            height: 25rem;
        }
    }
    .header-circle-container{

        margin-top: -15rem;
        margin-left: -8rem;
        &::after{
            width: 6rem;
            height: 6rem;
        }
        &::before{
            width: 3.5rem;
            height: 3.5rem;
            left: 15rem;
        }
    }
}