@import "../includes/animations";
@import "../includes/var";
// common cirlce

.circle{
    border-radius: 50%;
    position: relative;

    &__big-40{
        width: 40rem;
        height: 40rem;
    }

    &__img{
        display: inline-block;
        position: relative;

        & img{
            display: inline-block;
            width: 40rem;
            height: 40rem;
            border-radius: 50%;
        }

        & .circle-overlay{
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
        }
    }
}

//_____ header circle ___________

.header-circle-container{
    display: inline-block;
    position: relative;
    margin-top: -20rem;
    margin-left: -15rem;

    & .circle .circle-overlay{
        background-image: linear-gradient(rgba($gr-blue-1, 0.5), rgba($gr-blue-2, 0.5));
        box-shadow: #8fd3f4 0 0 4rem;
    }

    &::after{
        content: '';
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        position: absolute;
        top: -2rem;
        right: -5rem;
        background-image: linear-gradient(to right bottom, $gr-orange-1, $gr-orange-2);
        box-shadow: #ffc3a0 0 0 3rem;
        animation: 3.5s h-circle-2 alternate infinite;
    }

    &::before{
        content: '';
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        position: absolute;
        top: -8rem;
        left: 20rem;
        background-image: linear-gradient(to right bottom, $gr-green-1, $gr-green-2);
        box-shadow: $gr-green-1 0 0 2rem;
        animation: 2s h-circle-1 alternate infinite;
    }
}



@media only screen and (max-width: 37.5em){
    .head-circle-img{
            width: 30rem;
            height: 30rem;
        }
    .header-circle-container{

        &::after{
            width: 6rem;
            height: 6rem;
        }
        &::before{
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}