@import "../includes/var";

.nav{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 999;
    background-color: #fff;

    &.scroll{
        box-shadow: rgba(55, 58, 70, 0.4) 1rem 0 2rem;
        background-color:rgba(255, 255, 255, 0.9);
    }

    &__sec-logo{
        text-align: left;
        float: left;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        padding-left: 3rem;

        &-box .logo{
            color: $color-dark;
            margin: 0;
            padding: 2rem;
            display: inline-block;
            cursor: pointer;
        }
    }

    &__sec-main{
        float: right;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        padding-right: 3rem;
        font-weight: 300;

        & *{
            margin: 0;
            padding: 0;
        }

        & ul li{
            list-style-type: none;
            display: inline-block;
        }
        & ul li a{
            display: inline-block;
            margin-right: 1.5rem;
            padding: 2rem 0;
            color: $color-dark;
            text-transform: capitalize;
            transition: all .3s;

            &:hover{
                color: $color-primary;
            }
        }
        .menu-icon {
            cursor: pointer;
            width: 3.5rem;
            height: auto;
            position: absolute;
            top: 1rem;
            right: 2rem;
            display: none;
        }
    }
}

//_______________________ responsive ___________________________

//phone

@media only screen and (max-width: 37.5em){
    .nav{
        &__sec-logo-box{
            & .logo{
                padding: 1rem;
            }
        }

        &__sec-main{
            display: block;
            width: 100%;
            clear: both;
            text-align: center;

            & ul{
                display: none;
            }

            & ul li{
                display: block;
            }

            .menu-icon{
                display: inline-block;
            }
        }
    }
}