@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  color: #373a46; }

* {
  text-decoration: none; }
  *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 999;
  background-color: #fff; }
  .nav.scroll {
    box-shadow: rgba(55, 58, 70, 0.4) 1rem 0 2rem;
    background-color: rgba(255, 255, 255, 0.9); }
  .nav__sec-logo {
    text-align: left;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    padding-left: 3rem; }
    .nav__sec-logo-box .logo {
      color: #373a46;
      margin: 0;
      padding: 2rem;
      display: inline-block;
      cursor: pointer; }
  .nav__sec-main {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    padding-right: 3rem;
    font-weight: 300; }
    .nav__sec-main * {
      margin: 0;
      padding: 0; }
    .nav__sec-main ul li {
      list-style-type: none;
      display: inline-block; }
    .nav__sec-main ul li a {
      display: inline-block;
      margin-right: 1.5rem;
      padding: 2rem 0;
      color: #373a46;
      text-transform: capitalize;
      transition: all .3s; }
      .nav__sec-main ul li a:hover {
        color: #66a6ff; }
    .nav__sec-main .menu-icon {
      cursor: pointer;
      width: 3.5rem;
      height: auto;
      position: absolute;
      top: 1rem;
      right: 2rem;
      display: none; }

@media only screen and (max-width: 37.5em) {
  .nav__sec-logo-box .logo {
    padding: 1rem; }
  .nav__sec-main {
    display: block;
    width: 100%;
    clear: both;
    text-align: center; }
    .nav__sec-main ul {
      display: none; }
    .nav__sec-main ul li {
      display: block; }
    .nav__sec-main .menu-icon {
      display: inline-block; } }

.btn {
  text-decoration: none;
  color: #373a46;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  transition: all .3s; }
  .btn__primary {
    background-image: linear-gradient(to right, #36D1DC, #5B86E5);
    padding: .8rem 3.2rem;
    color: #fff;
    font-size: 2.2rem;
    border-radius: .7rem; }
    .btn__primary:hover, .btn__primary:active {
      box-shadow: rgba(54, 209, 220, 0.5) 0 0.6rem 2rem; }

@media only screen and (max-width: 37.5em) {
  .btn__primary {
    padding: 0.6 0.3rem 2.6rem;
    font-size: 2rem; } }

.circle {
  border-radius: 50%;
  position: relative; }
  .circle__big-40 {
    width: 40rem;
    height: 40rem; }
  .circle__img {
    display: inline-block;
    position: relative; }
    .circle__img img {
      display: inline-block;
      width: 40rem;
      height: 40rem;
      border-radius: 50%; }
    .circle__img .circle-overlay {
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%; }

.header-circle-container {
  display: inline-block;
  position: relative;
  margin-top: -20rem;
  margin-left: -15rem; }
  .header-circle-container .circle .circle-overlay {
    background-image: linear-gradient(rgba(54, 209, 220, 0.5), rgba(91, 134, 229, 0.5));
    box-shadow: #8fd3f4 0 0 4rem; }
  .header-circle-container::after {
    content: '';
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    top: -2rem;
    right: -5rem;
    background-image: linear-gradient(to right bottom, rgba(255, 95, 108, 0.8), rgba(255, 196, 113, 0.8));
    box-shadow: #ffc3a0 0 0 3rem;
    animation: 3.5s h-circle-2 alternate infinite; }
  .header-circle-container::before {
    content: '';
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    top: -8rem;
    left: 20rem;
    background-image: linear-gradient(to right bottom, #84fab0, #8fd3f4);
    box-shadow: #84fab0 0 0 2rem;
    animation: 2s h-circle-1 alternate infinite; }

@media only screen and (max-width: 37.5em) {
  .head-circle-img {
    width: 30rem;
    height: 30rem; }
  .header-circle-container::after {
    width: 6rem;
    height: 6rem; }
  .header-circle-container::before {
    width: 3.5rem;
    height: 3.5rem; } }

body {
  padding-bottom: 1000px; }

.header {
  position: relative;
  height: 100vh; }
  .header__main {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 90%; }
    .header__main--h1 {
      font-size: 7rem;
      letter-spacing: 6px;
      font-weight: 900;
      margin: 0;
      text-shadow: #fff 0 0 2rem; }
    .header__main--h2 {
      font-size: 3rem;
      letter-spacing: 1rem;
      margin: 0;
      font-weight: 300;
      margin-top: -2rem;
      word-spacing: 1.2rem;
      margin-bottom: 2rem;
      text-shadow: #fff 0 0 2rem; }

#particle-js {
  width: 100%;
  height: 100vh;
  background-color: #000; }

#about {
  width: 100%;
  height: 100vh;
  margin-top: -20rem; }

@media only screen and (max-width: 37.5em) {
  .header__main {
    transform: translate(-50%, -60%); }
    .header__main--h1 {
      font-size: 3.5rem;
      letter-spacing: .1rem; }
    .header__main--h2 {
      font-size: 2rem;
      letter-spacing: .3rem;
      word-spacing: .5rem;
      margin-top: 0rem; } }
