// #1f77fa      #373a46     #dbdde0







$color-primary: #1f77fa;
$color-secondary: #373a46;
$color-tertiary:#dbdde0;















//gr-1 #89f7fe --> #66a6ff
//gr-2 #ffc3a0 --> #ffafbd
//gr-3 #84fab0 --> #8fd3f4

//GR 4 #36D1DC --> #5B86E5