// #1f77fa      #373a46     #dbdde0







$color-primary: #66a6ff;
$color-dark: #373a46;
$color-tertiary:#dbdde0;















//  #89f7fe  #66a6ff
//gr-2 #ffc3a0 --> #ffafbd

$gr-green-1: #84fab0;
$gr-green-2: #8fd3f4;

$gr-blue-1: #36D1DC;
$gr-blue-2: #5B86E5;

$gr-orange-1: #fd7b86;
$gr-orange-2: #ffc87c

